*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
}

.dataFlow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598);
  background-repeat: no-repeat;
  background-size: 3% 0.6%;
  animation: lft-rght 100s infinite linear;
  display: flex;
  justify-content: space-around;
}

@keyframes lft-rght {
  0% {
    background-position: 32% 3%, 55% 16%, -4% 79%, 3% 53%, 116% 76%, 108% 55%, 114% 13%, 72% 96%, 26% 26%, 56% 83%, 7% 42%, 31% 57%, 98% 6%, 84% 69%, 68% 75%;
  }
  1% {
    background-position: 8% 3%, 65% 16%, -18% 79%, -17% 53%, 55% 76%, -6% 55%, 107% 13%, 73% 96%, -22% 26%, 107% 83%, 29% 42%, -24% 57%, 55% 6%, 31% 69%, 19% 75%;
  }
  2% {
    background-position: 113% 3%, 47% 16%, 100% 79%, 7% 53%, 9% 76%, 20% 55%, 41% 13%, -22% 96%, 7% 26%, 8% 83%, 68% 42%, 17% 57%, 12% 6%, 50% 69%, 111% 75%;
  }
  3% {
    background-position: 32% 3%, 40% 16%, 74% 79%, 102% 53%, 74% 76%, 100% 55%, 51% 13%, 86% 96%, 33% 26%, 125% 83%, 27% 42%, -22% 57%, 79% 6%, 51% 69%, 97% 75%;
  }
  4% {
    background-position: 114% 3%, 104% 16%, -22% 79%, 117% 53%, 57% 76%, 19% 55%, 12% 13%, 112% 96%, 79% 26%, 35% 83%, 59% 42%, 21% 57%, 35% 6%, 50% 69%, 93% 75%;
  }
  5% {
    background-position: 107% 3%, 89% 16%, -4% 79%, 11% 53%, 83% 76%, -21% 55%, 122% 13%, 68% 96%, 75% 26%, 19% 83%, 33% 42%, -10% 57%, 57% 6%, 56% 69%, 32% 75%;
  }
  6% {
    background-position: -11% 3%, 17% 16%, -6% 79%, 100% 53%, 32% 76%, 116% 55%, 113% 13%, 14% 96%, 3% 26%, 63% 83%, 125% 42%, 24% 57%, 64% 6%, 4% 69%, 112% 75%;
  }
  7% {
    background-position: -23% 3%, 3% 16%, 50% 79%, 31% 53%, -9% 76%, 4% 55%, 27% 13%, 52% 96%, 32% 26%, -12% 83%, 90% 42%, 33% 57%, 48% 6%, 109% 69%, 118% 75%;
  }
  8% {
    background-position: 27% 3%, 67% 16%, 31% 79%, 0% 53%, 50% 76%, 0% 55%, 116% 13%, 66% 96%, 9% 26%, -20% 83%, 118% 42%, 39% 57%, 93% 6%, 18% 69%, 85% 75%;
  }
  9% {
    background-position: 120% 3%, 41% 16%, 85% 79%, 109% 53%, 65% 76%, 28% 55%, 87% 13%, -21% 96%, 63% 26%, -22% 83%, 41% 42%, 57% 57%, -3% 6%, 55% 69%, -12% 75%;
  }
  10% {
    background-position: 88% 3%, 78% 16%, -9% 79%, 1% 53%, 117% 76%, 44% 55%, 73% 13%, 115% 96%, 105% 26%, -9% 83%, 78% 42%, 114% 57%, 89% 6%, 59% 69%, 69% 75%;
  }
  11% {
    background-position: 70% 3%, 53% 16%, 86% 79%, 86% 53%, 15% 76%, 109% 55%, 8% 13%, 32% 96%, 4% 26%, 19% 83%, -4% 42%, 30% 57%, 26% 6%, -16% 69%, -19% 75%;
  }
  12% {
    background-position: 77% 3%, 55% 16%, 111% 79%, 116% 53%, 117% 76%, 103% 55%, 67% 13%, 97% 96%, 121% 26%, 32% 83%, 47% 42%, 42% 57%, -22% 6%, 87% 69%, 13% 75%;
  }
  13% {
    background-position: 53% 3%, 108% 16%, -10% 79%, 8% 53%, 39% 76%, 89% 55%, -15% 13%, 24% 96%, 24% 26%, 85% 83%, 98% 42%, 25% 57%, 103% 6%, 123% 69%, 78% 75%;
  }
  14% {
    background-position: 113% 3%, 54% 16%, 121% 79%, 124% 53%, 28% 76%, 19% 55%, 101% 13%, 78% 96%, -20% 26%, 124% 83%, -9% 42%, 47% 57%, 115% 6%, 104% 69%, 45% 75%;
  }
  15% {
    background-position: 120% 3%, 63% 16%, 54% 79%, 94% 53%, 98% 76%, 120% 55%, -18% 13%, 1% 96%, 86% 26%, 111% 83%, 79% 42%, 30% 57%, 27% 6%, -22% 69%, 68% 75%;
  }
  16% {
    background-position: -12% 3%, 49% 16%, 54% 79%, -24% 53%, 41% 76%, 41% 55%, 60% 13%, -4% 96%, 3% 26%, -23% 83%, 34% 42%, 96% 57%, 83% 6%, 14% 69%, 99% 75%;
  }
  17% {
    background-position: 119% 3%, 72% 16%, -21% 79%, 39% 53%, 35% 76%, 95% 55%, 22% 13%, 18% 96%, 60% 26%, 63% 83%, -3% 42%, 116% 57%, 14% 6%, -20% 69%, 95% 75%;
  }
  18% {
    background-position: 18% 3%, 45% 16%, 32% 79%, 14% 53%, -21% 76%, 45% 55%, 114% 13%, -13% 96%, -21% 26%, 34% 83%, 47% 42%, 77% 57%, 61% 6%, 6% 69%, 83% 75%;
  }
  19% {
    background-position: 18% 3%, 52% 16%, 111% 79%, 18% 53%, 22% 76%, 29% 55%, 75% 13%, 7% 96%, 26% 26%, 120% 83%, 107% 42%, 120% 57%, 59% 6%, -4% 69%, 86% 75%;
  }
  20% {
    background-position: 20% 3%, 36% 16%, 43% 79%, 50% 53%, 17% 76%, 0% 55%, 17% 13%, 27% 96%, 33% 26%, 99% 83%, 32% 42%, 85% 57%, 17% 6%, -14% 69%, 36% 75%;
  }
  21% {
    background-position: 83% 3%, 55% 16%, 32% 79%, 105% 53%, 12% 76%, 125% 55%, 3% 13%, -22% 96%, 63% 26%, 0% 83%, -6% 42%, 12% 57%, 92% 6%, -6% 69%, 124% 75%;
  }
  22% {
    background-position: 77% 3%, 57% 16%, 124% 79%, -6% 53%, 25% 76%, 37% 55%, -4% 13%, 51% 96%, 60% 26%, 19% 83%, 73% 42%, 63% 57%, 87% 6%, 8% 69%, 62% 75%;
  }
  23% {
    background-position: 17% 3%, 120% 16%, -5% 79%, 75% 53%, -4% 76%, 3% 55%, 37% 13%, 75% 96%, 71% 26%, 20% 83%, 85% 42%, 104% 57%, -2% 6%, 95% 69%, 92% 75%;
  }
  24% {
    background-position: 43% 3%, 79% 16%, 15% 79%, 75% 53%, 11% 76%, -3% 55%, -8% 13%, 64% 96%, 80% 26%, 16% 83%, 67% 42%, 12% 57%, 21% 6%, 97% 69%, 35% 75%;
  }
  25% {
    background-position: 24% 3%, 41% 16%, 98% 79%, 95% 53%, 81% 76%, 74% 55%, 69% 13%, 68% 96%, -15% 26%, 91% 83%, -7% 42%, 109% 57%, 22% 6%, 0% 69%, 13% 75%;
  }
  26% {
    background-position: 24% 3%, 23% 16%, 98% 79%, 57% 53%, 123% 76%, 45% 55%, 48% 13%, 87% 96%, 53% 26%, 56% 83%, 22% 42%, 22% 57%, 108% 6%, 35% 69%, 30% 75%;
  }
  27% {
    background-position: -7% 3%, -14% 16%, -18% 79%, 38% 53%, 29% 76%, 69% 55%, 67% 13%, 23% 96%, 84% 26%, 43% 83%, 115% 42%, 89% 57%, -22% 6%, 14% 69%, 2% 75%;
  }
  28% {
    background-position: 63% 3%, 25% 16%, 104% 79%, -24% 53%, 43% 76%, 120% 55%, -12% 13%, 38% 96%, 75% 26%, 94% 83%, 72% 42%, 48% 57%, -17% 6%, 2% 69%, 6% 75%;
  }
  29% {
    background-position: -22% 3%, 4% 16%, 87% 79%, 90% 53%, 58% 76%, 108% 55%, 93% 13%, 96% 96%, 11% 26%, 94% 83%, 62% 42%, 120% 57%, 50% 6%, 118% 69%, 46% 75%;
  }
  30% {
    background-position: 116% 3%, 51% 16%, 89% 79%, 71% 53%, 125% 76%, -6% 55%, 115% 13%, 124% 96%, 3% 26%, 12% 83%, 95% 42%, 38% 57%, 82% 6%, 114% 69%, 81% 75%;
  }
  31% {
    background-position: -18% 3%, 122% 16%, -7% 79%, 66% 53%, 3% 76%, 25% 55%, 109% 13%, -6% 96%, 17% 26%, -4% 83%, 63% 42%, -19% 57%, 50% 6%, 68% 69%, 106% 75%;
  }
  32% {
    background-position: 29% 3%, 19% 16%, 16% 79%, 43% 53%, 93% 76%, 51% 55%, 50% 13%, 7% 96%, 115% 26%, 76% 83%, 70% 42%, 96% 57%, 32% 6%, 11% 69%, -9% 75%;
  }
  33% {
    background-position: -7% 3%, 117% 16%, 83% 79%, -13% 53%, 11% 76%, 70% 55%, -19% 13%, 103% 96%, -22% 26%, 76% 83%, 40% 42%, 7% 57%, 56% 6%, 118% 69%, -11% 75%;
  }
  34% {
    background-position: 106% 3%, 36% 16%, 101% 79%, 71% 53%, 75% 76%, -8% 55%, 11% 13%, 17% 96%, 51% 26%, 81% 83%, 30% 42%, 53% 57%, 14% 6%, 38% 69%, -4% 75%;
  }
  35% {
    background-position: 69% 3%, 109% 16%, 11% 79%, -21% 53%, 77% 76%, 106% 55%, 29% 13%, 29% 96%, 11% 26%, 71% 83%, 109% 42%, 101% 57%, 108% 6%, 74% 69%, 3% 75%;
  }
  36% {
    background-position: 105% 3%, 85% 16%, -2% 79%, 80% 53%, 90% 76%, 96% 55%, 116% 13%, 63% 96%, 122% 26%, 81% 83%, 38% 42%, 74% 57%, -20% 6%, 9% 69%, 125% 75%;
  }
  37% {
    background-position: 49% 3%, 69% 16%, 56% 79%, 123% 53%, 84% 76%, 107% 55%, 80% 13%, 30% 96%, 11% 26%, 22% 83%, 8% 42%, 98% 57%, -15% 6%, 84% 69%, -14% 75%;
  }
  38% {
    background-position: -14% 3%, 79% 16%, 60% 79%, 79% 53%, 50% 76%, 97% 55%, 78% 13%, 46% 96%, 79% 26%, -16% 83%, -12% 42%, 88% 57%, 62% 6%, 44% 69%, -16% 75%;
  }
  39% {
    background-position: -24% 3%, 74% 16%, 20% 79%, 30% 53%, 51% 76%, 51% 55%, 18% 13%, 123% 96%, -17% 26%, 78% 83%, 121% 42%, 69% 57%, 15% 6%, 40% 69%, 31% 75%;
  }
  40% {
    background-position: 96% 3%, 12% 16%, 25% 79%, 52% 53%, 41% 76%, 96% 55%, -19% 13%, 110% 96%, 101% 26%, 122% 83%, -17% 42%, -21% 57%, 26% 6%, 60% 69%, 90% 75%;
  }
  41% {
    background-position: 107% 3%, 104% 16%, -18% 79%, 117% 53%, 73% 76%, 99% 55%, 94% 13%, -11% 96%, 15% 26%, -4% 83%, 17% 42%, 52% 57%, 20% 6%, 32% 69%, 64% 75%;
  }
  42% {
    background-position: 16% 3%, 93% 16%, 19% 79%, 24% 53%, 75% 76%, 42% 55%, -1% 13%, -3% 96%, 50% 26%, -9% 83%, 33% 42%, 46% 57%, -14% 6%, 44% 69%, 70% 75%;
  }
  43% {
    background-position: 0% 3%, 99% 16%, 107% 79%, 4% 53%, 40% 76%, 89% 55%, 88% 13%, 53% 96%, 52% 26%, 46% 83%, 22% 42%, 111% 57%, 24% 6%, 124% 69%, -12% 75%;
  }
  44% {
    background-position: 100% 3%, 109% 16%, 93% 79%, 35% 53%, 63% 76%, 46% 55%, -5% 13%, -19% 96%, 10% 26%, -5% 83%, -12% 42%, 36% 57%, 104% 6%, 3% 69%, -14% 75%;
  }
  45% {
    background-position: 73% 3%, 99% 16%, 111% 79%, -24% 53%, 37% 76%, 92% 55%, 12% 13%, 70% 96%, 48% 26%, 29% 83%, 22% 42%, 64% 57%, 5% 6%, 8% 69%, 107% 75%;
  }
  46% {
    background-position: 61% 3%, 88% 16%, -23% 79%, -3% 53%, 53% 76%, 77% 55%, 17% 13%, 67% 96%, -20% 26%, -14% 83%, 40% 42%, 110% 57%, 108% 6%, -21% 69%, -23% 75%;
  }
  47% {
    background-position: 41% 3%, 91% 16%, 103% 79%, 47% 53%, -16% 76%, 53% 55%, 39% 13%, 104% 96%, 47% 26%, -9% 83%, 13% 42%, 26% 57%, 90% 6%, 120% 69%, 92% 75%;
  }
  48% {
    background-position: 106% 3%, 34% 16%, 19% 79%, -6% 53%, 86% 76%, -18% 55%, 116% 13%, -24% 96%, 87% 26%, 3% 83%, 29% 42%, 125% 57%, 92% 6%, 13% 69%, 55% 75%;
  }
  49% {
    background-position: 87% 3%, 69% 16%, 65% 79%, -24% 53%, 9% 76%, 43% 55%, 81% 13%, 93% 96%, 108% 26%, 59% 83%, 98% 42%, 69% 57%, 42% 6%, 50% 69%, 121% 75%;
  }
  50% {
    background-position: -4% 3%, 78% 16%, 63% 79%, 78% 53%, 28% 76%, -20% 55%, 3% 13%, -9% 96%, 62% 26%, 88% 83%, 13% 42%, 57% 57%, 100% 6%, 54% 69%, -20% 75%;
  }
  51% {
    background-position: 11% 3%, 95% 16%, 108% 79%, 102% 53%, 76% 76%, -16% 55%, 63% 13%, 56% 96%, 82% 26%, 108% 83%, 62% 42%, 113% 57%, 101% 6%, 62% 69%, 121% 75%;
  }
  52% {
    background-position: -11% 3%, 94% 16%, 90% 79%, -21% 53%, -22% 76%, -15% 55%, 118% 13%, -1% 96%, 50% 26%, 45% 83%, 115% 42%, 21% 57%, 52% 6%, 66% 69%, 84% 75%;
  }
  53% {
    background-position: 37% 3%, -24% 16%, 69% 79%, 49% 53%, 39% 76%, -8% 55%, -14% 13%, 62% 96%, 96% 26%, 59% 83%, 39% 42%, 99% 57%, 3% 6%, 103% 69%, 67% 75%;
  }
  54% {
    background-position: 58% 3%, 60% 16%, 122% 79%, 20% 53%, -6% 76%, 18% 55%, 49% 13%, -5% 96%, 76% 26%, 109% 83%, 82% 42%, 86% 57%, 74% 6%, 84% 69%, 89% 75%;
  }
  55% {
    background-position: 68% 3%, -8% 16%, 111% 79%, 83% 53%, 18% 76%, 112% 55%, -1% 13%, -19% 96%, 72% 26%, 16% 83%, 104% 42%, 42% 57%, 49% 6%, 96% 69%, 86% 75%;
  }
  56% {
    background-position: -1% 3%, 69% 16%, -21% 79%, -1% 53%, 79% 76%, 89% 55%, -16% 13%, -16% 96%, 72% 26%, 119% 83%, 107% 42%, 74% 57%, 31% 6%, 27% 69%, 100% 75%;
  }
  57% {
    background-position: 110% 3%, 24% 16%, 61% 79%, 14% 53%, 2% 76%, 84% 55%, -9% 13%, 99% 96%, 42% 26%, 108% 83%, 71% 42%, 18% 57%, 5% 6%, 33% 69%, 118% 75%;
  }
  58% {
    background-position: 109% 3%, 54% 16%, 14% 79%, 50% 53%, 77% 76%, 85% 55%, 24% 13%, 113% 96%, 29% 26%, 122% 83%, 88% 42%, -12% 57%, 7% 6%, 1% 69%, 56% 75%;
  }
  59% {
    background-position: 44% 3%, 69% 16%, 108% 79%, 34% 53%, 112% 76%, 94% 55%, 107% 13%, 57% 96%, 90% 26%, 92% 83%, -2% 42%, 35% 57%, -13% 6%, 103% 69%, 106% 75%;
  }
  60% {
    background-position: -10% 3%, 41% 16%, 45% 79%, 36% 53%, 87% 76%, 82% 55%, 100% 13%, 101% 96%, -6% 26%, 101% 83%, -7% 42%, 124% 57%, 4% 6%, 114% 69%, 30% 75%;
  }
  61% {
    background-position: 78% 3%, -12% 16%, -18% 79%, 74% 53%, 112% 76%, 80% 55%, -2% 13%, 103% 96%, 28% 26%, 113% 83%, 64% 42%, 13% 57%, 91% 6%, 125% 69%, -11% 75%;
  }
  62% {
    background-position: 17% 3%, 14% 16%, 6% 79%, 87% 53%, -20% 76%, 58% 55%, 55% 13%, 81% 96%, 92% 26%, 87% 83%, 30% 42%, 21% 57%, -19% 6%, 81% 69%, 76% 75%;
  }
  63% {
    background-position: 9% 3%, 9% 16%, 94% 79%, 53% 53%, 10% 76%, 35% 55%, -11% 13%, 71% 96%, 85% 26%, 17% 83%, 100% 42%, 115% 57%, 9% 6%, -15% 69%, 24% 75%;
  }
  64% {
    background-position: -8% 3%, 10% 16%, 43% 79%, 80% 53%, 67% 76%, 51% 55%, 49% 13%, 109% 96%, 92% 26%, 42% 83%, 42% 42%, 78% 57%, 73% 6%, -7% 69%, -13% 75%;
  }
  65% {
    background-position: 34% 3%, -16% 16%, -14% 79%, 41% 53%, 77% 76%, 76% 55%, 59% 13%, 49% 96%, 95% 26%, 105% 83%, 86% 42%, -21% 57%, 58% 6%, 65% 69%, 108% 75%;
  }
  66% {
    background-position: -6% 3%, 71% 16%, 104% 79%, -5% 53%, 15% 76%, -18% 55%, 89% 13%, 70% 96%, 111% 26%, 0% 83%, 52% 42%, 109% 57%, 72% 6%, 53% 69%, 28% 75%;
  }
  67% {
    background-position: 11% 3%, 81% 16%, 60% 79%, 38% 53%, 75% 76%, 9% 55%, 77% 13%, 37% 96%, 16% 26%, 91% 83%, 33% 42%, -20% 57%, -5% 6%, 90% 69%, 61% 75%;
  }
  68% {
    background-position: -1% 3%, 72% 16%, 115% 79%, 120% 53%, 35% 76%, 97% 55%, 33% 13%, 92% 96%, 85% 26%, 122% 83%, 44% 42%, -11% 57%, 22% 6%, 88% 69%, 74% 75%;
  }
  69% {
    background-position: -14% 3%, 53% 16%, 106% 79%, 30% 53%, -22% 76%, -2% 55%, 123% 13%, 78% 96%, 72% 26%, 76% 83%, 99% 42%, -9% 57%, 121% 6%, 96% 69%, 118% 75%;
  }
  70% {
    background-position: 68% 3%, -14% 16%, 42% 79%, 28% 53%, 110% 76%, -21% 55%, 33% 13%, 57% 96%, 67% 26%, 62% 83%, 82% 42%, 44% 57%, 73% 6%, 10% 69%, -24% 75%;
  }
  71% {
    background-position: 26% 3%, 9% 16%, -17% 79%, 59% 53%, -21% 76%, 112% 55%, 57% 13%, 93% 96%, 106% 26%, -19% 83%, 113% 42%, 123% 57%, 21% 6%, 85% 69%, 67% 75%;
  }
  72% {
    background-position: 0% 3%, 9% 16%, 27% 79%, 118% 53%, 115% 76%, -18% 55%, 45% 13%, 107% 96%, 7% 26%, 71% 83%, 33% 42%, 2% 57%, 103% 6%, 35% 69%, 39% 75%;
  }
  73% {
    background-position: 48% 3%, 16% 16%, 7% 79%, -3% 53%, 116% 76%, 23% 55%, 70% 13%, 18% 96%, -15% 26%, 86% 83%, 45% 42%, 22% 57%, 55% 6%, 9% 69%, 100% 75%;
  }
  74% {
    background-position: 94% 3%, 55% 16%, -16% 79%, 34% 53%, 56% 76%, 69% 55%, 6% 13%, 16% 96%, 86% 26%, 15% 83%, 109% 42%, 7% 57%, 64% 6%, 30% 69%, 125% 75%;
  }
  75% {
    background-position: 43% 3%, 98% 16%, 45% 79%, 49% 53%, 55% 76%, -13% 55%, -11% 13%, -15% 96%, 77% 26%, 12% 83%, 74% 42%, 83% 57%, 51% 6%, 49% 69%, 101% 75%;
  }
  76% {
    background-position: 21% 3%, 116% 16%, 86% 79%, -22% 53%, 15% 76%, 102% 55%, 115% 13%, 37% 96%, 66% 26%, 40% 83%, 40% 42%, 41% 57%, 26% 6%, 32% 69%, 42% 75%;
  }
  77% {
    background-position: 112% 3%, 78% 16%, 56% 79%, -4% 53%, 51% 76%, 62% 55%, 124% 13%, 104% 96%, 33% 26%, 18% 83%, 104% 42%, 44% 57%, 40% 6%, 105% 69%, 84% 75%;
  }
  78% {
    background-position: 81% 3%, 22% 16%, 14% 79%, -8% 53%, 18% 76%, 65% 55%, 121% 13%, 84% 96%, 45% 26%, 59% 83%, 9% 42%, 93% 57%, 123% 6%, 107% 69%, 73% 75%;
  }
  79% {
    background-position: -24% 3%, 91% 16%, 65% 79%, 5% 53%, 53% 76%, 22% 55%, -17% 13%, 96% 96%, 68% 26%, -8% 83%, 101% 42%, 121% 57%, 54% 6%, 102% 69%, 0% 75%;
  }
  80% {
    background-position: 57% 3%, 19% 16%, 48% 79%, -9% 53%, 9% 76%, 61% 55%, 93% 13%, -7% 96%, 99% 26%, 49% 83%, -5% 42%, 9% 57%, 106% 6%, 11% 69%, 20% 75%;
  }
  81% {
    background-position: 69% 3%, 96% 16%, 10% 79%, 4% 53%, 35% 76%, 34% 55%, 71% 13%, 124% 96%, 15% 26%, 27% 83%, 73% 42%, 75% 57%, 61% 6%, 80% 69%, -3% 75%;
  }
  82% {
    background-position: -22% 3%, 78% 16%, 91% 79%, 73% 53%, -15% 76%, 87% 55%, 18% 13%, 29% 96%, 28% 26%, 113% 83%, 108% 42%, -4% 57%, 104% 6%, 123% 69%, -16% 75%;
  }
  83% {
    background-position: 14% 3%, 93% 16%, 108% 79%, 15% 53%, -16% 76%, 92% 55%, 67% 13%, 30% 96%, 114% 26%, -14% 83%, -20% 42%, 75% 57%, -8% 6%, 115% 69%, 57% 75%;
  }
  84% {
    background-position: 80% 3%, 64% 16%, 21% 79%, -2% 53%, 77% 76%, 4% 55%, 21% 13%, 84% 96%, -9% 26%, 48% 83%, 75% 42%, 109% 57%, 103% 6%, 19% 69%, 11% 75%;
  }
  85% {
    background-position: -3% 3%, 105% 16%, -12% 79%, 47% 53%, 42% 76%, 18% 55%, 120% 13%, 75% 96%, 53% 26%, -17% 83%, -1% 42%, -19% 57%, 5% 6%, 17% 69%, 7% 75%;
  }
  86% {
    background-position: 88% 3%, 15% 16%, 37% 79%, 86% 53%, 20% 76%, -14% 55%, 115% 13%, 96% 96%, -9% 26%, 71% 83%, -21% 42%, 37% 57%, -14% 6%, 42% 69%, 92% 75%;
  }
  87% {
    background-position: 30% 3%, -8% 16%, -12% 79%, 116% 53%, -15% 76%, 116% 55%, 121% 13%, 73% 96%, 54% 26%, 104% 83%, 95% 42%, -1% 57%, 86% 6%, 21% 69%, -19% 75%;
  }
  88% {
    background-position: -20% 3%, 92% 16%, 5% 79%, -17% 53%, -19% 76%, 92% 55%, 16% 13%, 18% 96%, 103% 26%, 111% 83%, 120% 42%, 99% 57%, 80% 6%, -20% 69%, 124% 75%;
  }
  89% {
    background-position: 41% 3%, 40% 16%, 7% 79%, 69% 53%, 43% 76%, 107% 55%, -21% 13%, 26% 96%, 117% 26%, 37% 83%, 108% 42%, 92% 57%, 13% 6%, 102% 69%, 43% 75%;
  }
  90% {
    background-position: 63% 3%, 44% 16%, 41% 79%, 12% 53%, 75% 76%, 99% 55%, 39% 13%, 70% 96%, 104% 26%, 22% 83%, 89% 42%, 52% 57%, -2% 6%, 119% 69%, -13% 75%;
  }
  91% {
    background-position: 8% 3%, 79% 16%, -24% 79%, 96% 53%, 20% 76%, 84% 55%, 19% 13%, 6% 96%, 49% 26%, 46% 83%, 6% 42%, 74% 57%, 78% 6%, 1% 69%, 83% 75%;
  }
  92% {
    background-position: 0% 3%, 31% 16%, 81% 79%, -7% 53%, 91% 76%, 102% 55%, 20% 13%, 46% 96%, 113% 26%, 6% 83%, 94% 42%, -6% 57%, 23% 6%, -21% 69%, 86% 75%;
  }
  93% {
    background-position: 6% 3%, 102% 16%, 82% 79%, 7% 53%, -12% 76%, 69% 55%, 83% 13%, 8% 96%, 72% 26%, -17% 83%, 90% 42%, 101% 57%, 115% 6%, 109% 69%, 6% 75%;
  }
  94% {
    background-position: 44% 3%, -14% 16%, 29% 79%, 123% 53%, 124% 76%, 115% 55%, -9% 13%, 20% 96%, 77% 26%, 42% 83%, 90% 42%, 26% 57%, 52% 6%, 87% 69%, -5% 75%;
  }
  95% {
    background-position: 74% 3%, 115% 16%, 95% 79%, 94% 53%, 73% 76%, -20% 55%, 45% 13%, 35% 96%, 15% 26%, -11% 83%, 108% 42%, 105% 57%, 110% 6%, -22% 69%, 19% 75%;
  }
  96% {
    background-position: 25% 3%, 77% 16%, 30% 79%, -10% 53%, 55% 76%, 80% 55%, 105% 13%, 45% 96%, -1% 26%, 86% 83%, 39% 42%, 42% 57%, 30% 6%, 59% 69%, -5% 75%;
  }
  97% {
    background-position: -17% 3%, 19% 16%, -20% 79%, 77% 53%, 4% 76%, 7% 55%, 0% 13%, 51% 96%, -11% 26%, 14% 83%, 16% 42%, 104% 57%, 90% 6%, 90% 69%, 124% 75%;
  }
  98% {
    background-position: 100% 3%, 51% 16%, 4% 79%, 41% 53%, -23% 76%, 3% 55%, 53% 13%, 60% 96%, 65% 26%, -21% 83%, 14% 42%, 28% 57%, 11% 6%, 53% 69%, -4% 75%;
  }
  99% {
    background-position: -7% 3%, 44% 16%, 87% 79%, 23% 53%, -20% 76%, 100% 55%, 104% 13%, 34% 96%, 9% 26%, -24% 83%, 28% 42%, -10% 57%, 106% 6%, -21% 69%, 118% 75%;
  }
  100% {
    background-position: 4% 3%, 119% 16%, 48% 79%, 1% 53%, 118% 76%, 73% 55%, 70% 13%, 31% 96%, 106% 26%, 122% 83%, 30% 42%, 59% 57%, 83% 6%, 67% 69%, 38% 75%;
  }
}
.video_container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}/*# sourceMappingURL=style.css.map */