*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  background-color: #1C1C1C;
}

.dataFlow {
  width: 100%;
  height: 100%;
  background-image: linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598), linear-gradient(#19A598, #19A598);
  background-repeat: no-repeat;
  background-size: 3% 0.6%;
  animation: lft-rght 100s infinite linear;
  display: flex;
  justify-content: space-around;
}

@keyframes lft-rght {
  0% {
    background-position: 1% 100%, 73% 72%, 112% 36%, 10% 20%, 77% 77%, 110% 70%, 117% 42%, 124% 99%, 100% 57%, 53% 31%, 50% 30%, 45% 100%, 105% 23%, 42% 74%, 10% 22%;
  }
  1% {
    background-position: 114% 100%, 83% 72%, -11% 36%, 1% 20%, -22% 77%, 26% 70%, 19% 42%, 57% 99%, 109% 57%, 112% 31%, 18% 30%, -17% 100%, 121% 23%, 92% 74%, 45% 22%;
  }
  2% {
    background-position: 35% 100%, 6% 72%, 19% 36%, 9% 20%, 35% 77%, 69% 70%, 82% 42%, 75% 99%, 84% 57%, -8% 31%, 51% 30%, -24% 100%, -22% 23%, 109% 74%, 19% 22%;
  }
  3% {
    background-position: 41% 100%, 19% 72%, -1% 36%, 86% 20%, 123% 77%, 91% 70%, 18% 42%, 83% 99%, -18% 57%, -23% 31%, 87% 30%, 8% 100%, 27% 23%, -8% 74%, -2% 22%;
  }
  4% {
    background-position: 19% 100%, 68% 72%, 56% 36%, 73% 20%, 84% 77%, 125% 70%, 27% 42%, 26% 99%, 25% 57%, 25% 31%, 2% 30%, 83% 100%, 39% 23%, 58% 74%, 60% 22%;
  }
  5% {
    background-position: -24% 100%, 42% 72%, 53% 36%, 121% 20%, 116% 77%, -13% 70%, 11% 42%, 3% 99%, 31% 57%, 62% 31%, 85% 30%, 67% 100%, 96% 23%, 111% 74%, 87% 22%;
  }
  6% {
    background-position: 119% 100%, 10% 72%, 13% 36%, -23% 20%, 40% 77%, 52% 70%, 66% 42%, 79% 99%, -21% 57%, 48% 31%, 90% 30%, 50% 100%, 26% 23%, 123% 74%, 124% 22%;
  }
  7% {
    background-position: -12% 100%, 51% 72%, 66% 36%, 80% 20%, 118% 77%, 53% 70%, -1% 42%, 107% 99%, 112% 57%, 43% 31%, -22% 30%, -8% 100%, 44% 23%, -7% 74%, 1% 22%;
  }
  8% {
    background-position: 66% 100%, 38% 72%, 5% 36%, 13% 20%, 24% 77%, 34% 70%, -9% 42%, 51% 99%, -5% 57%, 41% 31%, 90% 30%, -20% 100%, 16% 23%, 34% 74%, 64% 22%;
  }
  9% {
    background-position: 9% 100%, 106% 72%, 39% 36%, 118% 20%, 110% 77%, 37% 70%, 28% 42%, -23% 99%, -3% 57%, 46% 31%, -8% 30%, 115% 100%, 54% 23%, 87% 74%, 56% 22%;
  }
  10% {
    background-position: -14% 100%, 85% 72%, 37% 36%, 27% 20%, 111% 77%, 34% 70%, 121% 42%, -8% 99%, 49% 57%, 72% 31%, 41% 30%, 31% 100%, -19% 23%, 52% 74%, 51% 22%;
  }
  11% {
    background-position: 23% 100%, 10% 72%, 58% 36%, 99% 20%, 26% 77%, 95% 70%, -8% 42%, 25% 99%, 110% 57%, 76% 31%, 96% 30%, 22% 100%, -20% 23%, 98% 74%, 50% 22%;
  }
  12% {
    background-position: 27% 100%, 118% 72%, -13% 36%, 115% 20%, 124% 77%, 27% 70%, 27% 42%, 116% 99%, 10% 57%, 54% 31%, 13% 30%, 110% 100%, 40% 23%, 36% 74%, 122% 22%;
  }
  13% {
    background-position: 16% 100%, -17% 72%, 57% 36%, 34% 20%, 43% 77%, 105% 70%, 110% 42%, 38% 99%, 108% 57%, 90% 31%, -24% 30%, 79% 100%, 33% 23%, -6% 74%, 108% 22%;
  }
  14% {
    background-position: 59% 100%, 116% 72%, 26% 36%, -22% 20%, 111% 77%, 86% 70%, 43% 42%, 69% 99%, 86% 57%, 85% 31%, 83% 30%, 22% 100%, 31% 23%, -3% 74%, 14% 22%;
  }
  15% {
    background-position: 67% 100%, 31% 72%, 102% 36%, 98% 20%, 75% 77%, 14% 70%, 75% 42%, 80% 99%, 101% 57%, 59% 31%, -7% 30%, 47% 100%, 28% 23%, 29% 74%, 17% 22%;
  }
  16% {
    background-position: 78% 100%, 101% 72%, 36% 36%, -18% 20%, -11% 77%, 84% 70%, 91% 42%, 38% 99%, 78% 57%, 97% 31%, 7% 30%, 30% 100%, 106% 23%, 93% 74%, 39% 22%;
  }
  17% {
    background-position: 124% 100%, 119% 72%, 95% 36%, -17% 20%, 70% 77%, 86% 70%, 77% 42%, 125% 99%, 97% 57%, 9% 31%, -21% 30%, 42% 100%, 59% 23%, 98% 74%, 82% 22%;
  }
  18% {
    background-position: 58% 100%, 114% 72%, 41% 36%, -9% 20%, 109% 77%, 113% 70%, -19% 42%, 110% 99%, 50% 57%, 85% 31%, 19% 30%, 17% 100%, 85% 23%, 64% 74%, 107% 22%;
  }
  19% {
    background-position: 23% 100%, 93% 72%, 122% 36%, 60% 20%, 19% 77%, 118% 70%, 75% 42%, 72% 99%, 30% 57%, -1% 31%, 42% 30%, 86% 100%, 23% 23%, 80% 74%, 75% 22%;
  }
  20% {
    background-position: 8% 100%, 50% 72%, 10% 36%, 60% 20%, 105% 77%, 43% 70%, 26% 42%, 73% 99%, 2% 57%, 92% 31%, 15% 30%, 70% 100%, 66% 23%, 96% 74%, 110% 22%;
  }
  21% {
    background-position: 71% 100%, 50% 72%, 123% 36%, 40% 20%, -18% 77%, 43% 70%, 119% 42%, 116% 99%, -7% 57%, 72% 31%, 68% 30%, 49% 100%, 35% 23%, 10% 74%, 25% 22%;
  }
  22% {
    background-position: 10% 100%, 118% 72%, 53% 36%, 6% 20%, 109% 77%, 1% 70%, 25% 42%, 74% 99%, 38% 57%, 102% 31%, 6% 30%, 47% 100%, -6% 23%, 80% 74%, 125% 22%;
  }
  23% {
    background-position: 34% 100%, -23% 72%, 87% 36%, 9% 20%, 119% 77%, 104% 70%, 9% 42%, 93% 99%, -9% 57%, 113% 31%, 82% 30%, -1% 100%, 38% 23%, -10% 74%, 37% 22%;
  }
  24% {
    background-position: -24% 100%, 108% 72%, 109% 36%, -18% 20%, 71% 77%, 118% 70%, -9% 42%, 8% 99%, 57% 57%, 90% 31%, 125% 30%, 10% 100%, 107% 23%, 51% 74%, 108% 22%;
  }
  25% {
    background-position: 19% 100%, 115% 72%, 9% 36%, -4% 20%, 109% 77%, 118% 70%, 49% 42%, 27% 99%, 95% 57%, 114% 31%, 104% 30%, 45% 100%, 121% 23%, -17% 74%, 31% 22%;
  }
  26% {
    background-position: 36% 100%, 115% 72%, 111% 36%, 9% 20%, 53% 77%, 121% 70%, 99% 42%, 13% 99%, 113% 57%, -15% 31%, 48% 30%, 57% 100%, -12% 23%, 46% 74%, 124% 22%;
  }
  27% {
    background-position: 32% 100%, 13% 72%, 81% 36%, 63% 20%, -12% 77%, 100% 70%, 18% 42%, -23% 99%, 120% 57%, -9% 31%, 80% 30%, 87% 100%, 53% 23%, 71% 74%, 82% 22%;
  }
  28% {
    background-position: -2% 100%, 107% 72%, 34% 36%, 3% 20%, 39% 77%, 14% 70%, 109% 42%, 23% 99%, 79% 57%, 42% 31%, -2% 30%, 61% 100%, 48% 23%, 94% 74%, -15% 22%;
  }
  29% {
    background-position: 24% 100%, 45% 72%, 37% 36%, 73% 20%, -19% 77%, 106% 70%, 106% 42%, -13% 99%, 86% 57%, 117% 31%, 22% 30%, 54% 100%, 42% 23%, 47% 74%, -22% 22%;
  }
  30% {
    background-position: 36% 100%, 6% 72%, 49% 36%, 92% 20%, 12% 77%, 101% 70%, 11% 42%, -24% 99%, -9% 57%, 30% 31%, -14% 30%, 109% 100%, 47% 23%, 106% 74%, 86% 22%;
  }
  31% {
    background-position: 52% 100%, 11% 72%, 121% 36%, 99% 20%, 35% 77%, 14% 70%, 111% 42%, 4% 99%, 60% 57%, -18% 31%, 90% 30%, 107% 100%, 22% 23%, 110% 74%, 74% 22%;
  }
  32% {
    background-position: 102% 100%, 122% 72%, 33% 36%, 98% 20%, 97% 77%, 39% 70%, 62% 42%, 23% 99%, 64% 57%, 19% 31%, 49% 30%, 13% 100%, -18% 23%, -23% 74%, -19% 22%;
  }
  33% {
    background-position: 46% 100%, 6% 72%, 79% 36%, 51% 20%, 46% 77%, 48% 70%, 5% 42%, 31% 99%, 89% 57%, 64% 31%, 47% 30%, 116% 100%, 27% 23%, -13% 74%, 82% 22%;
  }
  34% {
    background-position: 16% 100%, 40% 72%, 117% 36%, 22% 20%, 48% 77%, 84% 70%, 12% 42%, -19% 99%, 78% 57%, 79% 31%, -13% 30%, 108% 100%, -23% 23%, 70% 74%, 9% 22%;
  }
  35% {
    background-position: 70% 100%, 92% 72%, -20% 36%, 2% 20%, 72% 77%, 78% 70%, 31% 42%, 116% 99%, 19% 57%, 58% 31%, 48% 30%, 115% 100%, 24% 23%, 73% 74%, 91% 22%;
  }
  36% {
    background-position: 1% 100%, 119% 72%, 6% 36%, 102% 20%, 70% 77%, 41% 70%, 29% 42%, 30% 99%, 87% 57%, 23% 31%, -16% 30%, 14% 100%, 74% 23%, -24% 74%, 72% 22%;
  }
  37% {
    background-position: 119% 100%, 44% 72%, -20% 36%, 42% 20%, 11% 77%, -11% 70%, 99% 42%, 73% 99%, -22% 57%, 2% 31%, 52% 30%, 26% 100%, 31% 23%, 53% 74%, 121% 22%;
  }
  38% {
    background-position: 43% 100%, 33% 72%, 8% 36%, 23% 20%, 5% 77%, 5% 70%, 62% 42%, 16% 99%, 16% 57%, 113% 31%, 61% 30%, 121% 100%, 34% 23%, -8% 74%, 15% 22%;
  }
  39% {
    background-position: 57% 100%, 3% 72%, 71% 36%, -18% 20%, 34% 77%, 17% 70%, 30% 42%, 104% 99%, 67% 57%, 51% 31%, 117% 30%, 90% 100%, 59% 23%, 115% 74%, 43% 22%;
  }
  40% {
    background-position: -12% 100%, 11% 72%, -22% 36%, -1% 20%, -7% 77%, 118% 70%, 52% 42%, -9% 99%, 50% 57%, 64% 31%, 7% 30%, -22% 100%, 15% 23%, 15% 74%, 69% 22%;
  }
  41% {
    background-position: 76% 100%, 84% 72%, 70% 36%, 0% 20%, 14% 77%, 61% 70%, 1% 42%, 112% 99%, 76% 57%, 60% 31%, 50% 30%, 92% 100%, 65% 23%, 111% 74%, 6% 22%;
  }
  42% {
    background-position: 29% 100%, 41% 72%, 109% 36%, 103% 20%, 85% 77%, -14% 70%, 117% 42%, -24% 99%, 94% 57%, 73% 31%, 98% 30%, -6% 100%, 102% 23%, -13% 74%, -16% 22%;
  }
  43% {
    background-position: 82% 100%, 47% 72%, 42% 36%, 89% 20%, 84% 77%, 16% 70%, 90% 42%, 53% 99%, -18% 57%, 73% 31%, -22% 30%, 25% 100%, 111% 23%, 67% 74%, 18% 22%;
  }
  44% {
    background-position: 117% 100%, 78% 72%, 31% 36%, 19% 20%, 33% 77%, -7% 70%, 78% 42%, 23% 99%, 61% 57%, 109% 31%, 61% 30%, 43% 100%, 70% 23%, 123% 74%, 74% 22%;
  }
  45% {
    background-position: -11% 100%, 116% 72%, 33% 36%, 17% 20%, 109% 77%, 82% 70%, 13% 42%, 74% 99%, 29% 57%, 85% 31%, -11% 30%, 55% 100%, 41% 23%, 33% 74%, 111% 22%;
  }
  46% {
    background-position: 120% 100%, -2% 72%, 81% 36%, 83% 20%, 73% 77%, 83% 70%, -19% 42%, 66% 99%, -21% 57%, 104% 31%, 74% 30%, 34% 100%, 18% 23%, 52% 74%, 63% 22%;
  }
  47% {
    background-position: 61% 100%, -7% 72%, 49% 36%, 73% 20%, 83% 77%, 24% 70%, 20% 42%, -16% 99%, -7% 57%, 94% 31%, 31% 30%, 62% 100%, 107% 23%, 21% 74%, 99% 22%;
  }
  48% {
    background-position: 57% 100%, 50% 72%, -5% 36%, 116% 20%, 0% 77%, 94% 70%, 68% 42%, 10% 99%, 54% 57%, 9% 31%, 25% 30%, 125% 100%, 16% 23%, 46% 74%, 31% 22%;
  }
  49% {
    background-position: 66% 100%, 16% 72%, 36% 36%, 98% 20%, 28% 77%, 10% 70%, 120% 42%, 38% 99%, 17% 57%, 18% 31%, 44% 30%, 115% 100%, 34% 23%, -21% 74%, 94% 22%;
  }
  50% {
    background-position: 19% 100%, 120% 72%, 57% 36%, 44% 20%, -15% 77%, 49% 70%, 73% 42%, 60% 99%, 45% 57%, 20% 31%, 55% 30%, 71% 100%, 40% 23%, 124% 74%, 92% 22%;
  }
  51% {
    background-position: 120% 100%, 28% 72%, 96% 36%, 66% 20%, -8% 77%, 37% 70%, -21% 42%, 80% 99%, 60% 57%, 79% 31%, 53% 30%, -5% 100%, -18% 23%, 104% 74%, 15% 22%;
  }
  52% {
    background-position: 4% 100%, 45% 72%, 83% 36%, -21% 20%, 44% 77%, 14% 70%, 114% 42%, 3% 99%, 44% 57%, 67% 31%, 23% 30%, 76% 100%, 59% 23%, 21% 74%, 93% 22%;
  }
  53% {
    background-position: 17% 100%, -7% 72%, 53% 36%, 58% 20%, 58% 77%, -21% 70%, 34% 42%, 96% 99%, -19% 57%, 66% 31%, 30% 30%, 8% 100%, 100% 23%, 74% 74%, -9% 22%;
  }
  54% {
    background-position: 76% 100%, 106% 72%, -2% 36%, -7% 20%, -14% 77%, 97% 70%, 94% 42%, 15% 99%, 23% 57%, 18% 31%, 107% 30%, 87% 100%, 33% 23%, 90% 74%, 98% 22%;
  }
  55% {
    background-position: 48% 100%, 105% 72%, -4% 36%, 110% 20%, 112% 77%, 36% 70%, 120% 42%, -2% 99%, 76% 57%, -5% 31%, 33% 30%, 48% 100%, 86% 23%, 90% 74%, -18% 22%;
  }
  56% {
    background-position: -13% 100%, 33% 72%, -5% 36%, -14% 20%, 44% 77%, -5% 70%, 82% 42%, 71% 99%, 43% 57%, 20% 31%, -3% 30%, -13% 100%, 93% 23%, 110% 74%, -18% 22%;
  }
  57% {
    background-position: 104% 100%, 84% 72%, 0% 36%, 91% 20%, 4% 77%, 82% 70%, 9% 42%, 10% 99%, 14% 57%, 2% 31%, 98% 30%, -1% 100%, 83% 23%, 77% 74%, 33% 22%;
  }
  58% {
    background-position: 22% 100%, 0% 72%, -15% 36%, 7% 20%, -15% 77%, 9% 70%, -7% 42%, 43% 99%, 62% 57%, 31% 31%, -8% 30%, 5% 100%, 8% 23%, 50% 74%, 54% 22%;
  }
  59% {
    background-position: 23% 100%, 91% 72%, 95% 36%, -3% 20%, 101% 77%, 5% 70%, 51% 42%, 9% 99%, -11% 57%, 75% 31%, 13% 30%, 54% 100%, 6% 23%, 28% 74%, 59% 22%;
  }
  60% {
    background-position: 5% 100%, 0% 72%, 24% 36%, 8% 20%, 3% 77%, 72% 70%, 37% 42%, 122% 99%, 69% 57%, 12% 31%, 64% 30%, 65% 100%, 88% 23%, 73% 74%, 47% 22%;
  }
  61% {
    background-position: 89% 100%, -16% 72%, 49% 36%, 85% 20%, 88% 77%, 19% 70%, 8% 42%, 46% 99%, -9% 57%, 74% 31%, 57% 30%, 55% 100%, 103% 23%, -7% 74%, 34% 22%;
  }
  62% {
    background-position: 100% 100%, 58% 72%, 35% 36%, 34% 20%, -10% 77%, 104% 70%, 69% 42%, 4% 99%, -22% 57%, 41% 31%, 124% 30%, 21% 100%, -13% 23%, -10% 74%, 66% 22%;
  }
  63% {
    background-position: 17% 100%, -22% 72%, 38% 36%, 33% 20%, 67% 77%, 52% 70%, 93% 42%, -15% 99%, -17% 57%, 15% 31%, 95% 30%, 28% 100%, 111% 23%, 34% 74%, 8% 22%;
  }
  64% {
    background-position: 51% 100%, 123% 72%, -2% 36%, 10% 20%, -20% 77%, 43% 70%, 8% 42%, 30% 99%, -18% 57%, 53% 31%, -3% 30%, 83% 100%, 98% 23%, 113% 74%, 8% 22%;
  }
  65% {
    background-position: 119% 100%, 40% 72%, 68% 36%, 113% 20%, 76% 77%, 19% 70%, 25% 42%, 73% 99%, 32% 57%, 0% 31%, 97% 30%, 118% 100%, 105% 23%, 79% 74%, -10% 22%;
  }
  66% {
    background-position: 125% 100%, 62% 72%, 109% 36%, 71% 20%, 66% 77%, 8% 70%, 6% 42%, 122% 99%, 97% 57%, 68% 31%, 69% 30%, 121% 100%, 75% 23%, 124% 74%, 116% 22%;
  }
  67% {
    background-position: 103% 100%, 22% 72%, 107% 36%, 111% 20%, 65% 77%, 125% 70%, -15% 42%, 67% 99%, 24% 57%, -23% 31%, 85% 30%, 12% 100%, -13% 23%, 65% 74%, 18% 22%;
  }
  68% {
    background-position: 9% 100%, 7% 72%, 58% 36%, 117% 20%, 77% 77%, 120% 70%, -5% 42%, 16% 99%, 2% 57%, 17% 31%, 13% 30%, 11% 100%, 89% 23%, 41% 74%, 65% 22%;
  }
  69% {
    background-position: -16% 100%, 112% 72%, 47% 36%, 20% 20%, 42% 77%, 23% 70%, 50% 42%, 104% 99%, -20% 57%, 96% 31%, 25% 30%, 15% 100%, 30% 23%, 115% 74%, 2% 22%;
  }
  70% {
    background-position: 26% 100%, 109% 72%, 99% 36%, 31% 20%, 97% 77%, 28% 70%, 95% 42%, -17% 99%, 49% 57%, 43% 31%, 67% 30%, 10% 100%, 70% 23%, 125% 74%, 60% 22%;
  }
  71% {
    background-position: 50% 100%, -14% 72%, 20% 36%, 48% 20%, 67% 77%, -17% 70%, 0% 42%, 6% 99%, 37% 57%, 93% 31%, 54% 30%, -20% 100%, -24% 23%, -18% 74%, 69% 22%;
  }
  72% {
    background-position: 121% 100%, 42% 72%, 120% 36%, -3% 20%, -17% 77%, 103% 70%, -3% 42%, 20% 99%, 21% 57%, 67% 31%, 107% 30%, -2% 100%, -5% 23%, -8% 74%, -5% 22%;
  }
  73% {
    background-position: 71% 100%, 30% 72%, -15% 36%, 15% 20%, 104% 77%, 37% 70%, 55% 42%, 107% 99%, 104% 57%, 82% 31%, 119% 30%, 26% 100%, 17% 23%, 27% 74%, -17% 22%;
  }
  74% {
    background-position: 57% 100%, 34% 72%, -18% 36%, 124% 20%, 119% 77%, 84% 70%, 21% 42%, 91% 99%, 8% 57%, -7% 31%, 0% 30%, 40% 100%, 101% 23%, 54% 74%, 18% 22%;
  }
  75% {
    background-position: -9% 100%, 74% 72%, 104% 36%, 124% 20%, 92% 77%, 29% 70%, 73% 42%, 19% 99%, -24% 57%, 93% 31%, -4% 30%, 52% 100%, 11% 23%, 39% 74%, 48% 22%;
  }
  76% {
    background-position: 68% 100%, 95% 72%, -20% 36%, 44% 20%, 17% 77%, 79% 70%, 94% 42%, 59% 99%, 73% 57%, 74% 31%, 72% 30%, -16% 100%, 9% 23%, 117% 74%, 8% 22%;
  }
  77% {
    background-position: 30% 100%, 93% 72%, 68% 36%, 45% 20%, 104% 77%, 36% 70%, 123% 42%, 98% 99%, 8% 57%, 66% 31%, 52% 30%, 121% 100%, 119% 23%, 13% 74%, 57% 22%;
  }
  78% {
    background-position: 13% 100%, 96% 72%, 94% 36%, -5% 20%, -18% 77%, 105% 70%, 22% 42%, 38% 99%, 84% 57%, 48% 31%, 106% 30%, 112% 100%, 114% 23%, 13% 74%, 26% 22%;
  }
  79% {
    background-position: -9% 100%, 59% 72%, 42% 36%, -9% 20%, 0% 77%, 16% 70%, 97% 42%, -17% 99%, 63% 57%, 113% 31%, 6% 30%, 78% 100%, 41% 23%, 53% 74%, 76% 22%;
  }
  80% {
    background-position: -9% 100%, 114% 72%, 29% 36%, 30% 20%, 116% 77%, 92% 70%, 3% 42%, 55% 99%, -3% 57%, 73% 31%, 90% 30%, 118% 100%, 16% 23%, 16% 74%, 32% 22%;
  }
  81% {
    background-position: 3% 100%, 68% 72%, 31% 36%, 54% 20%, 64% 77%, 121% 70%, 97% 42%, -5% 99%, 123% 57%, 10% 31%, 57% 30%, 100% 100%, 67% 23%, 23% 74%, 87% 22%;
  }
  82% {
    background-position: -2% 100%, 52% 72%, 107% 36%, 103% 20%, 34% 77%, 50% 70%, 39% 42%, 90% 99%, 87% 57%, -23% 31%, 94% 30%, 35% 100%, 79% 23%, 110% 74%, 86% 22%;
  }
  83% {
    background-position: 30% 100%, 121% 72%, 5% 36%, 93% 20%, -11% 77%, 63% 70%, 101% 42%, 82% 99%, 68% 57%, 45% 31%, 122% 30%, 71% 100%, 96% 23%, -7% 74%, 6% 22%;
  }
  84% {
    background-position: -23% 100%, 92% 72%, 101% 36%, 125% 20%, 81% 77%, 5% 70%, 37% 42%, 116% 99%, 67% 57%, 120% 31%, 31% 30%, 106% 100%, 121% 23%, -7% 74%, 20% 22%;
  }
  85% {
    background-position: 5% 100%, 63% 72%, -15% 36%, 119% 20%, 62% 77%, 112% 70%, 26% 42%, 27% 99%, 94% 57%, 22% 31%, 62% 30%, 63% 100%, 63% 23%, -16% 74%, 36% 22%;
  }
  86% {
    background-position: 19% 100%, 93% 72%, -19% 36%, 38% 20%, -13% 77%, 10% 70%, 101% 42%, 2% 99%, 33% 57%, 70% 31%, 119% 30%, 72% 100%, 89% 23%, 109% 74%, 30% 22%;
  }
  87% {
    background-position: 115% 100%, 70% 72%, 28% 36%, 98% 20%, 40% 77%, 107% 70%, 42% 42%, 13% 99%, 100% 57%, 28% 31%, 87% 30%, 39% 100%, -22% 23%, 102% 74%, 48% 22%;
  }
  88% {
    background-position: 20% 100%, 84% 72%, 78% 36%, -7% 20%, 18% 77%, 102% 70%, -10% 42%, 88% 99%, -17% 57%, -1% 31%, 6% 30%, 50% 100%, -22% 23%, 10% 74%, 18% 22%;
  }
  89% {
    background-position: 72% 100%, -7% 72%, 11% 36%, 63% 20%, 95% 77%, 54% 70%, 78% 42%, 32% 99%, 52% 57%, 44% 31%, -16% 30%, 24% 100%, 1% 23%, -23% 74%, -6% 22%;
  }
  90% {
    background-position: 54% 100%, -1% 72%, 119% 36%, 105% 20%, 123% 77%, 111% 70%, 59% 42%, 120% 99%, 48% 57%, 43% 31%, 66% 30%, 10% 100%, -10% 23%, 117% 74%, 52% 22%;
  }
  91% {
    background-position: 88% 100%, 63% 72%, 0% 36%, 11% 20%, 1% 77%, 53% 70%, 3% 42%, 106% 99%, 5% 57%, 122% 31%, 16% 30%, 110% 100%, 22% 23%, 89% 74%, -17% 22%;
  }
  92% {
    background-position: 79% 100%, 49% 72%, 76% 36%, 118% 20%, 26% 77%, 14% 70%, 50% 42%, 27% 99%, 62% 57%, 72% 31%, 43% 30%, 5% 100%, 115% 23%, 49% 74%, 50% 22%;
  }
  93% {
    background-position: 106% 100%, 108% 72%, 116% 36%, 123% 20%, 56% 77%, 12% 70%, -11% 42%, 9% 99%, 15% 57%, 56% 31%, 46% 30%, 29% 100%, -6% 23%, 3% 74%, 38% 22%;
  }
  94% {
    background-position: -20% 100%, -6% 72%, 125% 36%, 58% 20%, 61% 77%, 3% 70%, 46% 42%, 53% 99%, -22% 57%, 113% 31%, 80% 30%, 29% 100%, 55% 23%, -22% 74%, -6% 22%;
  }
  95% {
    background-position: 104% 100%, 86% 72%, -9% 36%, 111% 20%, 24% 77%, 46% 70%, 31% 42%, 112% 99%, 6% 57%, 123% 31%, 0% 30%, 65% 100%, -8% 23%, 121% 74%, 4% 22%;
  }
  96% {
    background-position: 10% 100%, 41% 72%, 24% 36%, 118% 20%, 12% 77%, 121% 70%, 36% 42%, 99% 99%, 7% 57%, 51% 31%, 80% 30%, 123% 100%, 84% 23%, 33% 74%, 34% 22%;
  }
  97% {
    background-position: -18% 100%, -12% 72%, 101% 36%, 120% 20%, 44% 77%, 105% 70%, 14% 42%, 7% 99%, 109% 57%, 75% 31%, 94% 30%, 22% 100%, 8% 23%, 74% 74%, 10% 22%;
  }
  98% {
    background-position: 51% 100%, 56% 72%, -5% 36%, -9% 20%, 118% 77%, 50% 70%, 112% 42%, 58% 99%, -24% 57%, -11% 31%, 1% 30%, 43% 100%, 82% 23%, 110% 74%, 80% 22%;
  }
  99% {
    background-position: 49% 100%, 65% 72%, 9% 36%, 23% 20%, -4% 77%, 38% 70%, 117% 42%, 11% 99%, 78% 57%, 33% 31%, 124% 30%, 12% 100%, -8% 23%, 60% 74%, 52% 22%;
  }
  100% {
    background-position: 42% 100%, 86% 72%, 90% 36%, 41% 20%, 49% 77%, -5% 70%, 114% 42%, 20% 99%, 33% 57%, 81% 31%, 115% 30%, 89% 100%, 19% 23%, 103% 74%, 13% 22%;
  }
}
.video_container {
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video {
  width: 100%;
  height: 700px;
  border-radius: 10px;
  margin: 0 auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.large-header {
  position: relative;
  width: 100%;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  z-index: 1;
}

.demo .large-header {
  background-image: url("https://images.wallpaperscraft.com/image/starry_sky_stars_space_night_119881_1366x768.jpg");
}

.main-title {
  position: absolute;
  margin: 0;
  padding: 0;
  color: #F9F1E9;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.demo .main-title {
  text-transform: uppercase;
  font-size: 4.2em;
  letter-spacing: 0.1em;
}

.main-title .thin {
  font-weight: 200;
}

@media only screen and (max-width: 768px) {
  .demo .main-title {
    font-size: 3em;
  }
}/*# sourceMappingURL=style.css.map */