
<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "index_style.css" %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@4000&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
<body>
    
    <div class="btn_container">
        <a href="{% url "camera" %}" class="btn btn-gradient-border btn-glow">Surdo to Voice</a>
        <a href="{% url "voice" %}" class="btn btn-gradient-border btn-glow">Voice to Surdo</a>
    </div>
    
</body>
</html>


